<!-- A wrapper for all the blog posts -->
<div class="posts">
    <h1 class="content-subhead">About tornado-ssdb-project</h1>

    <!-- A single blog post -->
    <section class="post">
        <header class="post-header">
            <a href="http://youbbs.sinaapp.com" target="_blank"><img class="post-avatar" alt="yb" height="48" width="48" src="/static/main/web/img/youbbs.gif"></a>

            <h2 class="post-title">Introducing Pure</h2>

            <p class="post-meta">
                By <a href="https://github.com/ego008" target="_blank" class="post-author">ego008</a> with
                <a class="post-category post-category-design" href="#">Tornado</a>
                <a class="post-category post-category-pure" href="#">SSDB</a>
                <a class="post-category post-category-js" href="#">purecss.io</a>
                <a class="post-category post-category-yui" href="#">pyTenjin</a>
            </p>
        </header>

        <div class="post-description">
            <p>
                这是一个基于Tornado + SSDB 的web 项目的基本结构, 你可以直接拿它去开始一个新的项目,
                如果遇到问题可以直接上 <a href="http://www.pylist.com" target="_blank">论坛</a> 提出。
            </p>
        </div>
    </section>
</div>